<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>StoragePerformanceTests</key>
		<dict>
			<key>testCollisionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.06624</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jun 2017, 15:13:44</string>
				</dict>
			</dict>
			<key>testGeneratorPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.092212</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jun 2017, 15:13:44</string>
				</dict>
			</dict>
			<key>testRemovalPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13403</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jun 2017, 15:13:44</string>
				</dict>
			</dict>
			<key>testStoragePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10719</real>
					<key>baselineIntegrationDisplayName</key>
					<string>10 Jun 2017, 15:13:44</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
